*{	
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body
{
    background-repeat: no-repeat;
	background-size: 100% 100%;
	
    background-image:url("img/pozadina.png");

}

.sivi_kvadrat{
	float: right;
	height:550px;
	width:600px;
	margin-top:269px;
	margin-right:400px;
	margin-bottom:160px;
	background-color: rgba(64,63,59,0.6);
}
.korisnik-button{
	width: 300px;
    height: 60px; 
	margin-left:150px;
	margin-right:150px;
	margin-top:100px;
    border: 3px solid;
	border-color: rgba(255,255,255, 0.2);
	border-radius:5px;
    box-sizing: border-box;
}
.korisnik-button-unos{
	float: left;
    width: 90%;
    color: #c4c4c4;
	padding-top:15px;
	padding-left:5px;
    font-size: 18px;
    background-color:transparent;
}
.lozinka-button{
	width: 300px;
    height: 60px; 
	margin-left:150px;
	margin-right:150px;
	margin-top:25px;
    border: 3px solid;
	border-color: rgba(255,255,255, 0.2);
	border-radius:5px;
    box-sizing: border-box;
}
.lozinka-button-unos{
	float: left;
    width: 90%;
    color: #c4c4c4;
    padding-top:15px;
	padding-left:5px;
    font-size: 18px;
    background-color:transparent;
}
.prijava{
	width: 300px;
	height: 50px;
	margin-top: 80px;
	margin-left:150px;
	margin-right:150px;
	background-color: #e49430;
	border-color: #e49430;
	cursor: pointer;
}
.prijava-tekst{
	font-family:Arial;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}
.registracija{
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left:150px;
	margin-right:150px;
	background-color: rgba(255,255,255,0.35);
	border-color: rgba(255,255,255,0.35);
	cursor: pointer;	
}
.registracija-tekst{
	font-family:Arial;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}
.zap-prijava{
	border:1px solid #ccc;
	width:15px;
	height: 15px;
	margin-top: 20px;
	margin-left:150px;
	margin-top:3px;
}
.zap-prijava-tekst{
	color:#dbdbdb;
	font-size:12px;
	font-family:Arial;
}
.zab-lozinka-tekst{
	color:#dbdbdb;
	font-size:12px;
	font-family:Arial;
}
.zab-lozinka{
	float:right;
	margin-right:150px;
	margin-top:5px;
}
.logo{
	float:left;
	margin-left:280px;
	margin-top:50px;
}