* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.pozadina{
	height:100%;
	width:100%;
	margin-top:-215px;
	margin-bottom:50px;
	margin-left:3px;
}
.sivi_kvadrat{
	height:670px;
	width:1400px;
	background-color: rgba(64,63,59,0.6);
	margin-top:-800px;
	margin-left:65px;
	position:absolute;
}
.orange_kvadrat{
	height:200px;
	width:100%;
	background-color: rgba(209,121,14,0.6);
	margin-top:-200px;
	position:absolute;
}
.button-unos1{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:50px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button1{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-39px;
	margin-top:10px;
	color:#ffffff;
}
.korisnik-button-unos{
	float: left;
    width: 90%;
    color: #ffffff;
	padding-top:10px;
	padding-left:5px;
    font-size: 18px;
    background-color:transparent;
}
.korisnik-button-unos1{
	float: left;
    width: 90%;
    color: #ffffff;
	padding-top:10px;
	padding-left:5px;
    font-size: 18px;
    background-color:transparent;
}

.button-unos2{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:100px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button2{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-66px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos3{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:150px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button3{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-55px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos4{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:200px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button4{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-67px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos5{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:250px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button5{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-100px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos6{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:300px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button6{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-47px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos7{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:350px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button7{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-56px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos8{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:400px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button8{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-59px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos9{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:450px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button9{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-52px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos10{
	width: 300px;
    height: 40px; 
	float:left;
	margin-top:500px;
	margin-left:120px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button10{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-left:-94px;
	margin-top:10px;
	color:#ffffff;
}
.button-unos11{
	width: 300px;
    height: 40px; 
	float:right;
	margin-top:50px;
	margin-left:1000px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button11{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-top:10px;
	margin-right:-450px;
	margin-left:-100px;
	color:#ffffff;
}
.button-unos12{
	width: 300px;
    height: 40px; 
	float:right;
	margin-top:100px;
	margin-left:1000px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button12{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-top:10px;
	margin-right:-450px;
	margin-left:-60px;
	color:#ffffff;
}
.button-unos13{
	width: 300px;
    height: 40px; 
	float:right;
	margin-top:150px;
	margin-left:1000px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button13{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-top:10px;
	margin-right:-450px;
	margin-left:-105px;
	color:#ffffff;
}
.button-unos14{
	width: 300px;
    height: 40px; 
	float:right;
	margin-top:200px;
	margin-left:1000px;
    border: 2px solid;
	border-color: rgba(255,255,255, 0.6);
	border-radius:3px;
    box-sizing: border-box;
	background-color:rgba(196,186,202, 0.6);
	position: absolute;
}
.tekst-button14{
	float:left;
	font-size:13px;
	font-family:Arial;
	margin-top:10px;
	margin-right:-450px;
	margin-left:-100px;
	color:#ffffff;
}
.registracija{
	float:right;
	width: 200px;
	height: 50px;
	margin-top: 470px;
	margin-left:150px;
	margin-right:100px;
	background-color: #e49430;
	border-color: #e49430;
	cursor: pointer;
}
.registracija-tekst{
	font-family:Arial;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}
.tekst-dno{
	float:right;
	margin-top:620px;
	margin-right:-420px;
	font-family:Arial;
	color:rgba(255,255,255,0.5);
	font-size:11px;
}
.tekst-dno-bold{
	color:#ffffff;
	font-weight:medium;
	font-size:12px;	
}